google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
groq
langchain
langchain-community
langgraph
faiss-cpu
sentence-transformers
langchain-huggingface
pytest
fastapi
uvicorn
